/* Устанавливаем box-sizing для всех элементов */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Основные стили для body */
body {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'JetBrains Mono', sans-serif;
    line-height: 144%;
    letter-spacing: inherit;
    font-size: 18px;
}

/* Стили для контейнера */
.main_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Стили для логотипа */
.logo {
    display: flex;
    margin-top: 55px;
    justify-content: center;
}

.logo img {
    width: auto;
    height: auto;
}

/* Стили для заголовка */
.header {
    max-width: calc(100% - 110px); /* Оставляем место по краям */
    width: 100%; /* Занимает всю ширину доступного пространства */
    /*padding: 55px; !* Отступы по краям *!*/
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(0, 191, 212, 1), rgba(0, 96, 154, 1)); /* Линейный градиент от красного к синему */
    -webkit-background-clip: text; /* Необходимо для WebKit браузеров */
    color: transparent; /* Прозрачный цвет текста */
    margin-top: calc(100% - 76px)
}

.file-input {
    font: 600 14px/18px sans-serif;
    width: 100%;
    height: 48px;
    border-radius: 0;
    background: no-repeat right center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 10000;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}

.canvas-item {
    align-self: center;
    margin-top: 20px;
}

/* Стили для ссылок */
a {
    color: #308282;
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: #ea1b10;
}

/* Обнуляем отступы для заголовков и абзацев */
h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* Скрываем overflow для SVG */
svg:not(:root) {
    overflow: hidden;
}

/* Медиа запросы */

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    body {
        max-width: 360px;
    }

    .header-link {
        max-width: 100px;
    }
}